backports.ssl-match-hostname==3.4.0.2
google-api-python-client==1.4.2
python-helpscout-v2==1.0.0
httplib2==0.9.1
lxml==4.9.1
oauth2client==1.5.1
pyasn1==0.1.8
pyasn1-modules==0.0.7
python-dateutil==2.4.2
pytz==2015.6
requests==2.7.0
rsa==3.2
simplejson==3.8.0
six==1.9.0
slackclient==0.16
uritemplate==0.6
urllib3==1.12
websocket-client==0.32.0
wsgiref==0.1.2
holidays==0.10.2
